{% extends 'applicantTemplate.html'%}

{% block content %}
<!-- Dashboard content -->
<div class="header">
    <h2>Welcome back, {{ user.fName }} {{ user.lName }}</h2>
    <div class="dash-content">
        <h3>
            You have submitted an application for the position:
        </h3>
        <div class="blue">{{positionName}}</div>
        <h3>The current status of your application is:</h3>

        {% if application.status == "Submitted" %}
        <div class="blue">{{application.status}}</div>
        <p>Your application has been submitted and will be reviewed soon.</p>

        {% elif application.status == "Being Reviewed" %}
        <div class="blue">{{application.status}}</div>
        <p>Your application has been seen and is being reviewed.</p>

        {% elif application.status == "Requested Interview" %}
        <div class="blue">{{application.status}}</div>
        <p>Your application has been reviewed and an interview has been requested.</p>
        <div class="btnContainer">
            <button class="button applicantActionBtn rejectInterview" id={{applicant.id}}>Accept</button>
            <button class="button applicantActionBtn acceptInterview" id={{applicant.id}}>Reject</button>
        </div>

        {% elif application.status == "Interviewed" %}
        <div class="blue">{{application.status}}</div>
        <p>You have been interviewed and a final decision will be made soon.</p>

        {% elif application.status == "Rejected" %}
        <div class="blue">{{application.status}}</div>
        <p>We regret to inform you that your application was rejected.</p>
        <h3>Feedback:</h3>
        <p>{{application.feedback}}</p>

        {% elif application.status == "Accepted" %}
        <div class="blue">{{application.status}}</div>
        <p>Congratulations! Your application has been accepted. We will contact you by email soon for next steps.</p>

        {% endif %}
    </div>
</div>
{% endblock %}