{% extends 'applicantTemplate.html'%}

{% block content %}
<div class="header">
    <h1>Your Application</h1>
    <div class="applicationData">
        <div class="dataPanel">
            <h3>Personal Details</h3>
            <div class="data">
                <div>Name</div>
                <div>{{applicationObject.users.fName}} {{applicationObject.users.lName}}</div>
                <div>Applicant ID</div>
                <div>{{applicationObject.id}}</div>
                <div>For Role</div>
                <div>{{applicationObject.position.positionName}}</div>
                <div>Date Submitted</div>
                <div>{{applicationObject.dateSubmitted}}</div>
            </div>
        </div>
        <div class="dataPanel">
            <h4>Degree</h4>
            <div class="data">
                <div>University:</div>
                <div>{{ university.universityID.name }}</div>
                <div>Degree Title:</div>
                <div>{{ university.qualification }}</div>
                <div>Grade Attained:</div>
                <div>{{ university.level }}</div>
            </div>
        </div>
        <div class="dataPanel">
            <h4>A-Levels</h4>
            <div class="data">
                {% for aLevel in aLevels %}
                <div>{{ aLevel.alevelID.subject }}</div>
                <div>{{ aLevel.grade }}</div>
                {%endfor%}
            </div>
        </div>
        <div class="dataPanel">
            <h4>Hobbies</h4>
            <div class="data">
                {% for hobby in hobbies %}
                <div>{{ hobby.hobbyID.name }}</div>
                <div>{{ hobby.interest }}</div>
                {%endfor%}
            </div>
        </div>
        <div class="dataPanel">
            <h4>Skills</h4>
            <div class="data">
                {% for skill in skills %}
                <div>{{ skill.skillID.skillName }}</div>
                <div>{{ skill.expertise }}</div>
                {%endfor%}
            </div>
        </div>
    </div>

    {% endblock %}