[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
mysqlclient = "*"

[requires]
python_version = "2.7"
