{% extends 'preLoginLayout.html' %}
{% block additionalCss %}
{% load sass_tags%}
<link rel="stylesheet" href="{% sass_src 'css/createApplication.scss' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="header">
    <h1>Your Applicaton</h1>
    <!-- <div class="progressBarContainer">
        <ul class="progressBar">
            <li class="active">Basic Info</li>
            <li>Education, Employment and Skills</li>
            <li>Testing</li>
          </ul>
        </ul>
    </div> -->
    <div class="form applicationForm">
        <form action="#">
            <div class="basicInfo">
                <div class="form-group">
                    <label for="newEmail">Email</label>
                    <input type="email" name="newEmail" id="newEmail" placeholder="Email" required="required" \ />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required="required" \ />
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Repeat Password</label>
                    <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat Password"
                        required="required" \ />
                </div>
                <div class="form-group">
                    <label for="fName">Full Name</label>
                    <div class="nameFieldContainer">
                        <input type="text" name="fName" id="fName" placeholder="First Name" required="required" class="nameField" />
                        <input type="text" name="lName" id="lName" placeholder="Last Name" required="required" class="nameField" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="degreeType">Degree</label>
                    <select name="degreeType" id="degreeType" class="selectBox">
                        <option default>Select Degree Type</option>
                        <option value="associates">Associates's</option>
                        <option value="bachelors">Bachelor's</option>
                        <option value="masters">Master's</option>
                        <option value="doctoral">Doctoral</option>
                        <option value="diploma">Diploma</option>
                    </select>
                    <input type="text" name="" id="" placeholder="Degree Title" required="required" />
                    <select name="degreeType" id="degreeType" class="selectBox">
                        <option default>Select Degree Type</option>

                    </select>
                </div>
                <button type="submit" class="button submitBtn nextBtn">
                    Next
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}