{% extends 'adminTemplate.html' %}

{% block navbar %}
{% include 'adminNav.html' with screen=1 %}
{% endblock %}
<!-- Contains code for displaying reports -->
{% block content %}
<div class="header">

    <div class="reportHeading">
        <h3 class="title">Eligible Applicants</h3>
        <p class="pageDescription">These are the applicants whom have automatically been screened by the system and are
            eligible to progress to the interview round.</p>
    </div>

    <div class="applicantListAccordion">
        <!-- for each applicant in selected applicants -->
        {%for applicant in applications%}
        <div class="applicantBlock">
            <button class="selectApplicantBtn selectJob">
                <div class="applicantInfo">
                    <!-- submitted, being reviewed, -->
                    <span class="name">{{applicant.users.fName}} {{applicant.users.lName}}</span>
                    <span class="applicationId">AppID: {{applicant.id}} </span>
                    <span class="role">For Role: {{applicant.position.positionName}}</span>
                    <span class="dateApplied">{{applicant.dateSubmitted}}</span>
                </div>
            </button>
            <div class="application">
                <div class="applicantAction">
                  {%csrf_token%}
                    <button class="button applicantActionBtn reqInterview" id = {{applicant.id}}>Request Interview</button>
                    <button class="button applicantActionBtn rejectApplicant" id = {{applicant.id}}>Reject</button>
                </div>
                <div class="applicationData">
                    <div class="dataPanel">
                        <h4>Degree</h4>
                        <div class="data">
                            <div>University:</div>
                            <div>University Of Warwick</div>
                            <div>Degree Title:</div>
                            <div>Computer Science</div>
                            <div>Grade Attained:</div>
                            <div>2:1</div>
                        </div>
                    </div>
                    <div class="dataPanel">
                        <h4>A-Levels</h4>
                        <div class="data">
                            <div>Maths</div>
                            <div>A*</div>
                            <div>Computer Science</div>
                            <div>D</div>
                            <div>English</div>
                            <div>C</div>
                        </div>
                    </div>
                    <div class="dataPanel">
                        <h4>Previous Employment</h4>
                        <div class="data">
                            <div class="employment">
                                <div>Front End Engineer</div>
                                <div>Google</div>
                                <div>5 years, 6 Months</div>
                            </div>
                            <div class="employment">
                                <div>Shop Floor Assistant</div>
                                <div>Asda</div>
                                <div>3 years, 4 Months</div>
                            </div>
                        </div>
                    </div>
                    <div class="dataPanel">
                        <h4>Programming Languages</h4>
                        <div class="data">
                            <div>Python</div>
                            <div>9</div>
                            <div>C#</div>
                            <div>3</div>
                            <div>JavaScript</div>
                            <div>6</div>
                            <div>Haskell</div>
                            <div>1</div>
                        </div>
                    </div>
                    <div class="dataPanel">
                        <h4>Skills</h4>
                        <div class="data">
                            <div>Excel</div>
                            <div>7</div>
                            <div>Word</div>
                            <div>8</div>
                            <div>Latex</div>
                            <div>4</div>
                        </div>
                    </div>
                    <div class="dataPanel">
                        <h4>Hobbies</h4>
                        <div class="data">
                            <div>Piano</div>
                            <div>5</div>
                        </div>
                    </div>
                    <div class="dataPanel">
                        <h4>Contact</h4>
                        <div class="data">
                            <div>Email</div>
                            <div>morriswr01@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}