{% extends 'adminTemplate.html' %}

{% block navbar %}
{% include 'adminNav.html' with screen=1 %}
{% endblock %}
<!-- Contains code for displaying reports -->
{% block content %}
<div class="header">

    <div class="reportHeading">
        <h3 class="title">Eligible Applicants</h3>
        <p class="pageDescription">These are the applicants whom have automatically been screened by the system and are
            eligible to progress to the interview round.</p>
    </div>

    <div class="applicantListAccordion">
        <!-- for each applicant in selected applicants -->
        {%for applicant in applications%}
        <div class="applicantBlock">
            <button class="selectApplicantBtn selectJob">
                <div class="applicantInfo">
                  <!-- submitted, being reviewed, -->
                    <span class="name">{{applicant.users.fName}} {{applicant.users.lName}}</span>
                    <span class="applicationId">AppID: {{applicant.id}} </span>
                    <span class="role">For Role: {{applicant.position.positionName}}</span>
                    <span class="dateApplied">{{applicant.dateSubmitted}}</span>
                </div>
            </button>
            <div class="application">
                <div class="applicantAction">
                  {%csrf_token%}
                    <button class="button applicantActionBtn reqInterview" id = {{applicant.id}}>Request Interview</button>
                    <button class="button applicantActionBtn rejectApplicant" id = {{applicant.id}}>Reject</button>
                </div>
                <div class="applicationData">

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}
