{% extends 'adminTemplate.html' %}

{% block navbar %}
{% include 'adminNav.html' with screen=2 %}
{% endblock %}

{% block content %}

<div class="positionsHeading">
    <h3 class="title">All Positions</h3>
    <button type="button" class="button newJobBtn" id="new-job-button">Add New Job</button>
</div>

<div class="jobListAccordion">
    {% for position in positions %}
    <div class="jobBlock">
        <button class="selectJob">
            <span class="jobTitle">{{ position.fields.positionName }}</span>
            <span class="jobDeadline">Open Until: {{ position.fields.deadlineDate }}</span>
            <span class="jobStatus {% if position.fields.positionOpen %}open{%else%}closed{%endif%}">{{position.fields.positionOpen}}</span>
        </button>
        <div class="jobDesc">
            {{ position.fields.positionDescription }}
            <div class="jobButtons">
                <!-- <a href="{% url 'careers-index' %}" class="button moreInfoBtn">More Information</a> -->
                <!-- <a href="{% url 'dashboard'%}?pid={{position.pk}}" class="button applyBtn">Apply</a> -->
                <a href="" class="button editBtn">Edit</a>
                <a href="" class="button applyBtn">Re-Open Position</a>
                <a href="" class="button deleteBtn">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="add-new-job-modal" class="modal">
    <div class="modal-content job-modal">
        <header class="job-modal-header">
            <i class="close-modal material-icons">close</i>
            <h3>Add New Job</h3>
        </header>
        <div>
            <!-- New Job Form -->
            <form method="POST">
                {% csrf_token %}
                <div class="job-modal-group">
                    <label for="jobTitle">Job Title</label>
                    <input type="text" name="jobTitle" id="jobTitle" placeholder="Job Title" required="required" />
                </div>
                <div class="job-modal-group">
                    <label for="deadline">Deadline</label>
                    <input type="date" name="deadline" id="deadline" placeholder="Deadline" required="required" />
                </div>
                <div class="job-modal-group">
                    <label for="">Description</label>
                    <textarea name="jobDescription" id="jobDescription"></textarea>
                </div>
                <div class="job-modal-group">
                    <button type="submit" class="button submitBtn formSubmit">
                        Add New Job
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}