{% extends 'applicantDashboardTemplate.html'%}

{% block content %}
<!-- Dashboard content -->
<div class="header">
    <h4>Welcome back, John!</h4>
    <div class="dash-content">
        <div class="message">
            You have submitted an application for the position:
        </div>
        <div class="blue">Junior Software Engineer</div>
        <div class="message">The current status of your application is:</div>
        <div class="blue">Under Review</div>
    </div>
</div>



{% endblock %}