body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* NAVIGATION BAR STYLING */
.nav-container {
  display: grid;
  padding: 0 60px;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  background-color: #1b1c1d;
  color: white;
  height: 100px; }
  .nav-container .grid-item {
    padding: 20px;
    margin: auto;
    font-size: 15px;
    text-align: center; }
    .nav-container .grid-item a {
      color: white;
      text-decoration: none; }
      .nav-container .grid-item a .nav-logo {
        font-size: 25px; }
  .nav-container .link:hover a,
  .nav-container .link:hover {
    color: black;
    background-color: white; }
  .nav-container .link.active {
    border-bottom-width: 2px;
    border-bottom: solid;
    border-bottom-color: white; }
  .nav-container .button {
    max-width: 80px; }
    .nav-container .button:hover {
      color: black;
      background-color: white; }

.header {
  height: 100%;
  padding: 60px;
  text-align: center;
  background: #1b1c1d;
  color: white;
  font-size: 30px; }

.modal {
  /* Hidden by default */
  display: none;
  /* Stay in place */
  position: fixed;
  /* Sit on top */
  z-index: 1;
  /* Location of the box */
  padding-top: 100px;
  left: 0;
  top: 0;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Fallback color */
  background-color: black;
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal-content {
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s; }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

.form {
  background: #1b1c1d;
  max-width: 600px;
  border-radius: 4px;
  margin: 60px auto auto auto;
  color: white; }
  .form-header {
    width: 100%;
    text-align: center; }
    .form-header h1 {
      display: inline-block; }
    .form-header .close-modal {
      float: right;
      font-size: 25px;
      font-weight: bold; }
    .form-header .close-modal:hover,
    .form-header .close-modal:focus {
      color: grey;
      text-decoration: none;
      cursor: pointer; }
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 5px 0; }
    .form-group label {
      display: block;
      margin: 0 0 10px 10px;
      font-size: 20px; }
    .form-group input {
      width: 100%;
      margin: 0 10px 5px 10px;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 20px;
      padding: 5px;
      font-weight: 500; }
    .form-group.no-login {
      justify-content: left;
      padding: 0 10px 10px 10px; }
      .form-group.no-login .button {
        margin-left: 10px; }
        .form-group.no-login .button:hover {
          background-color: mediumseagreen; }

/* Buttons defined with .button class  */
.button {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;
  /* invisible border (will be colored on hover/focus) */
  border: solid 3px white;
  border-radius: 4px;
  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #1b1c1d; }
  .button:active {
    transform: translateY(1px); }
  .button.submitBtn {
    border: none;
    background-color: #2185d0; }
    .button.submitBtn:hover {
      color: black;
      background-color: #1678c2; }
    .button.submitBtn.formSubmit {
      display: block;
      font-size: 25px;
      width: 100%;
      margin: 10px; }

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  color: white; }

/*# sourceMappingURL=main.css.map */