<!-- Navigation Bar -->
<nav class="nav-container admin">
        <div class="grid-item link {% if screen == 1 %}active{%endif%}">
            <a href="{% url 'dashboard' %}">Report</a>
        </div>
        <div class="grid-item link {% if screen == 2 %}active{%endif%}">
            <a href="{% url 'adminPositions' %}">Current Positions</a>
        </div>
        <div class="grid-item link {% if screen == 3 %}active{%endif%}">
            <a href="{% url 'adminFeedback' %}">Feedback</a>
        </div>
    <div class="grid-item nav-logo">
        <h1>Bank Of DCS</h1>
    </div>
    <div class="grid-item">
        <a id="account-settings-button" class="button">Account Settings</a>
    </div>
    <div id="signOut" class="grid-item">
        <a class="button" href="{% url 'logout' %}">Sign Out</a>
    </div>
</nav>

<!-- Account Settings Modal -->
<div id="account-settings-modal" class="modal">
    <div class="login-form modal-content">
        <header class="login-form-header">
            <i class="close-modal material-icons">close</i>
            <h1>Account Settings</h1>
        </header>
        <div class="login-form-content">
            <!-- Change Password Form -->
            <form action="{% url 'changePassword' %}" method="POST">
                {% csrf_token %}
                <h2 class="login-form-header">Change Password</h2>
                <div class="login-form-group">
                    <label for="current-password">Current Password</label>
                    <input type="password" name="password" id="current-password" placeholder="Password" required="required"
                        \ />
                    <label for="new-password">New Password</label>
                    <input type="password" name="new-password" id="new-password" placeholder="Password" required="required" />
                    <label for="confirm-new-password">Confirm New Password</label>
                    <input type="password" name="confirm-new-password" id="confirm-new-pas  sword" placeholder="Password"
                        required="required" />
                    <button type="submit" class="button submitBtn formSubmit">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>