<html lang="en">
    <head>
        <link
            href="http://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=1920, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>DCS Bank Home</title>
        {% load sass_tags %}
        <link
            rel="stylesheet"
            href="{% sass_src 'sass/main.scss' %}"
            type="text/css"
        />
        {% block additionalCss%} 
        {% endblock %}
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="nav-container">
            {% if home == 1 %}
            <div class="grid-item link active">
                <a href="{% url 'home-index' %}">Home</a>
            </div>
            <div class="grid-item link">
                <a href="{% url 'careers-index' %}">Careers</a>
            </div>
            <div class="grid-item"></div>
            {% else %}
            <div class="grid-item link">
                <a href="{% url 'home-index' %}">Home</a>
            </div>
            <div class="grid-item link active">
                <a href="{% url 'careers-index' %}">Careers</a>
            </div>
            <div class="grid-item">
                <h1>Bank Of DCS</h1>
            </div>
            {% endif %}
            <div class="grid-item">
                <a id="applicant-login-button" class="button" href="#"
                    >Applicant Login</a
                >
            </div>
            <div id="admin-login-button" class="grid-item">
                <a class="button" href="#">Admin Login</a>
            </div>
        </nav>

        <!-- Applicant Login Modal -->
        <div id="applicant-login-modal" class="modal">
            <div class="form modal-content">
                <header class="form-header">
                    <i class="close-modal material-icons">close</i>
                    <h1>Applicant Login</h1>
                </header>
                <div class="form-content">
                    <!-- Login form inputs -->
                    <form action="{% url 'applicantDashboard-index' %}">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Email"
                                required="required"
                                \
                            />
                        </div>
                        <div class="form-group">
                            <label for="applicantPassword">Password</label>
                            <input
                                type="password"
                                name="applicantPassword"
                                id="applicantPassword"
                                placeholder="Password"
                                required="required"
                                \
                            />
                        </div>
                        <!-- Login Button -->
                        <div class="form-group">
                            <button
                                type="submit"
                                class="button submitBtn formSubmit"
                            >
                                Login
                            </button>
                        </div>
                        <!-- User not applied before -->
                        <div class="form-group no-login">
                            <p>Don't have an application?</p>
                            <a href="{% url 'careers-index' %}" class="button"
                                >Apply</a
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Admin Login Modal -->
        <div id="admin-login-modal" class="modal">
            <div class="form modal-content">
                <header class="form-header">
                    <i class="close-modal material-icons">close</i>
                    <h1>Admin Login</h1>
                </header>
                <div class="form-content">
                    <form action="#">
                        <!-- Login Form inputs -->
                        <div class="form-group">
                            <label for="employeeEmail">Employee Email</label>
                            <input
                                type="email"
                                name="employeeEmail"
                                id="employeeEmail"
                                placeholder="Employee Email"
                                required="required"
                                \
                            />
                        </div>
                        <div class="form-group">
                            <label for="adminPassword">Password</label>
                            <input
                                type="password"
                                name="adminPassword"
                                id="adminPassword"
                                placeholder="Password"
                                required="required"
                                \
                            />
                        </div>
                        <!-- Login button -->
                        <div class="form-group">
                            <button
                                type="submit"
                                class="button submitBtn formSubmit"
                            >
                                Login
                            </button>
                        </div>
                        <!-- User not applied before -->
                        <div class="form-group no-login">
                            <p>Are you a DB Employee but don't have a login?</p>
                            <a href="#careers" class="button">Request Access</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% block content %}
        <!-- Body of the document -->
        {% endblock %} {% load static %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
