{% extends 'preLoginLayout.html' %}
{% block additionalCss%}
{% load sass_tags%}
<link rel="stylesheet" href="{% sass_src 'sass/careers.scss' %}" type="text/css" />
{% endblock %}
{% block content %}
<!-- Careers page content -->

<div class="header">
    <h1>Our Open Positions</h1>
    <div class="jobListAccordion">
        {% for position in openPositions %}
        <div class="jobBlock">
            <button class="selectJob">
                <span class="jobTitle">{{ position.fields.positionName }}</span>
                <span class="jobDeadline">Open Until: {{ position.fields.deadlineDate }}</span>
            </button>
            <div class="jobDesc">
                {{ position.fields.positionDescription }}
                <div class="jobButtons">
                    <!-- <a href="{% url 'careers-index' %}" class="button moreInfoBtn">More Information</a> -->
                    <a href="{% url 'dashboard'%}?pid={{position.pk}}" class="button applyBtn">Apply</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
