@import "config";

.form {
    .form-header {
        margin: 0 auto;
    }
}

.dash-content,
.header {
    font-size: 20px;

    .message {
        padding: 20px 30px;
    }

    .blue {
        color: $submit-Button;
        font-size: 20px;
    }
}