@import "config";

.form {
    .form-header {
        margin: 0 auto;
    }
}

.dash-content {
    font-size: 20px;
    text-align: left;
    padding: 10px 60px;

    h3 {
        margin-bottom: 5px;
    }

    p {
        margin-top: 5px;
    }

    .blue {
        padding-bottom: 5px;
        color: $submit-Button;
        font-size: 25px;
    }

    .applicantActionBtn {
        padding: 10px 30px;

        &.acceptInterview {
            background-color: $green;
        }

        &.rejectInterview {
            background-color: $red;
        }
    }
}

.applicationData {
    text-align: left;
    display: grid;
    font-size: 20px;
    grid-row-gap: 5px;
    padding-top: 5px;

    .dataPanel {
        color: $accordion-color;
        background-color: darken($accordion-color, 60%);
        border-radius: 5px;
        padding: 10px;

        h4 {
            margin: 10px 0
        }

        .data {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    }
}