{% extends 'dashboardTemplate.html'%}

{% block content %}
<div class="header">
    <h1>Your Application</h1>
    <div class="display">
        <div class="blue"><a>Personal Details</a></div>
        <div class="blue-small">
            <div class="in-line">
                <a>First Name</a>
                <div class="user-details"><a>John</a></div>
            </div>
            <div class="in-line">
                <a>Last Name</a>
                <div class="user-details"><a>Wilson</a></div>
            </div>
            <div class="in-line">
                <a>Email</a>
                <div class="user-details"><a>john.wilson@gmail.com</a></div>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="blue"><a>Application Details</a></div>
        <div class="blue-small">
            <div class="in-line">
                <a>Date Submitted</a>
                <div class="user-details"><a>21.02.2019</a></div>
            </div>
            <div class="in-line">
                <a>Position</a>
                <div class="user-details"><a>Junior Software Engineer</a></div>
            </div>
            <div class="in-line">
                <a>Current Status</a>
                <div class="user-details"><a>Under Review</a></div>
            </div>
            <div class="in-line">
                <a>Feedback</a>
                <div class="user-details"><a>-</a></div>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="blue"><a>Education</a></div>
        <div class="blue-small">
            <div class="in-line">
                <a>A Level Grades</a>
                <div class="user-details"><a>Mathematics: 100</a></div>
                <div class="user-details"><a>English Literature: 90</a></div>
                <div class="user-details"><a>French: 80</a></div>
                <div class="user-details"><a>Chemistry: 98</a></div>
            </div>
            <div class="in-line">
                <a>University</a>
                <div class="user-details"><a>Univeristy of Warwick</a></div>
                <div class="user-details"><a>Bsc Computer Science</a></div>
                <div class="user-details"><a>Undergraduate</a></div>
                <div class="user-details"><a>Skills: web development, database management</a></div>
            </div>
            <div class="in-line">
                <a>Languages</a>
                <div class="user-details"><a>English, Spanish, French</a></div>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="blue"><a>Previous Employment</a></div>
        <div class="blue-small">
            <div class="in-line">
                <a>Company Name</a>
                <div class="user-details"><a>Google</a></div>
            </div>
            <div class="in-line">
                <a>Length of Employment</a>
                <div class="user-details"><a>1 year</a></div>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="blue"><a>Hobbies</a></div>
        <div class="blue-small">
            <div class="in-line">
                <div class="user-details"><a>Fishing, Basketball</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}